

body,ul,li,p,h1,h2,h3{margin: 0;padding: 0;line-height: 1.5}
body
{ 
 	   /*font-family: -apple-system,"Helvetica Neue",Helvetica,STHeiTi,sans-serif;*/
	 background-color: #F9F9F9;
	
	 -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(255,255,255,0);}

.am-header{ background-color: #F44236;}
.am-header a{color: #fff}

/*订单列表*/
.am-box-list{margin-top: 60px}
.am-box-list li{background-color: #fff;margin: 1rem 0;}
.am-box-list .am-box-top{ line-height: 2rem; padding: 0 1rem;border-bottom: 1px solid #efefef;}
.am-box-top{ background-color: #fff;line-height: 2rem; padding: .2rem 1rem;}
.am-car-pic img{width: 7.5rem;}
.am-box-con{padding: .8rem 1rem;}

.am-p-list p{line-height: 1.58rem;}
.am-carlist .radio+label:before{left: .2rem;}
.am-car-title {
     word-break: break-all; 
    height: 3.0rem;
     line-height: 1.6rem;
     font-size: 1.2rem;
     margin-bottom: .5rem;
}


.am-flex{
	 display: -webkit-box;
    display: -moz-box;
    display: box;

}
.am-box-center{
	-webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;}
    
  .am-box-pack{
  	-webkit-box-pack: center;
    -moz-box-pack: center;
  	box-pack:center}
.am-box-horizontal{
	-webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;
}
.am-text-gray {
    color: #999;
}

.am-flex-1{-webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;}

	.am-nowrap-multi {
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -moz-line-clamp: 2;
    -ms-line-clamp: 2;
    -o-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-box-orient: vertical;
    -o-box-orient: vertical;
    box-orient: vertical;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: -o-box;
    display: box;
}

/*滑动删除*/

.am-box-list li {
	 line-height:0;
	position: relative;
	transition: transform 500ms ease-in-out;
	
   overflow: hidden;
}

.am-box-list .am-delete-box {
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
}

.am-delete-box .am-delete-btn {
	/*display: none;*/
	display: block;
	
	transform: translate3d(96px, 0, 0px);
	text-align: center;
	background-color: #EFAB2F;
	color: #fff;
	width: 8rem;
	height: 100%;
	/*line-height: 7.2;*/
	/*padding-top: 38px;*/
	padding-top: 49%;
	transition: transform 500ms ease-in-out;
}

.am-box-list .am-box-con {
	transition: transform 500ms ease-in-out;
}

.am-box-list li.have-transform .am-box-con {
	transform: translate3d(-117px, 0px, 0px);
	-webkit-transform: translate3d(-117px, 0px, 0px);
	-ms-transform: translate3d(-117px, 0px, 0px);
	}

.am-box-list li.have-transform .am-delete-btn {

		transform: translate3d(0, 0, 0);
}